# ==============================
# Terraform
# ==============================
.terraform/
*.tfstate
*.tfstate.*
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl

# ==============================
# AWS / Secrets
# ==============================
*.pem
*.key
*.env

# ==============================
# Trivy Reports
# ==============================
trivy-report.json

# ==============================
# Python
# ==============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# ==============================
# Local Database
# ==============================
data/
*.db

# ==============================
# Jenkins / CI
# ==============================
jenkins_home/
workspace/

# ==============================
# OS files
# ==============================
.DS_Store
Thumbs.db